#estatico{
    position: static;
    background-color: rgb(65, 65, 221);
    width: 100px;
    height: 100px;
}

#fijo{
    position: fixed;
    background-color: rgb(24, 182, 24);
    right: 50px;
    bottom: 50px;
    height: 35px;
    border-radius: 50%;
}

#Absoluto{
    position: absolute;
    background-color: pink;
    left: 50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
}
#Grande{
    background-color: rgb(141, 230, 233);
    height: 1500px;
    width: 300px;
}

#Sticky{
    position: sticky;
    position: -webkit-sticky;
    background-color: yellow;
    top: 50px;
    width: 100%;
    height: 200px;
    border: 1px ;
}